@model IEnumerable<WebDatVeMayBay.HanhKhach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_TKKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_TKKH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
